// https://sass-lang.com/documentation/variables

$prefix: s;

$primary-color:#0099e5;
$primary-border: 1px solid $primary-color;

$primary-bg-color: #fff;
$red: red;
$blue:blue;
$green: green;
$yellow: yellow;

$line-height: 1.15;
$font-size: 2em;